<div class="parent">
  <div class="child">
    <h1>
      Pick Up Words In Order
    </h1>
  </div>
  <div class="child">
    <h1>
      {{array[index]}}
    </h1>
  </div>
  <div class="child">
      <ng-container *ngFor="let button of ResponseArray;let i=index">
          <button mat-raised-button color="primary" (click)="update(button,i,false)">{{button}}</button>
        </ng-container>
  </div>
  <div class="child">
    <ng-container *ngFor="let button of QuestionArray;let i=index">
      <button mat-raised-button color="primary" (click)="update(button,i,true)">{{button}}</button>
    </ng-container>
    <ng-container *ngIf="!QuestionArray.length">
      <h1>{{status}}</h1>
    </ng-container>
  </div>
  <div class="button-container">
    <div>
      <button mat-raised-button color="primary" (click)="previous()">Back</button>
      <button mat-raised-button color="primary" (click)="next()">Next</button>
    </div>
  </div>
</div>